{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block main-content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row my-5">
        <div class="col-sm-6">
        <h4>Order Summary</h4>
        <hr>
        {% for item in cart_items%}
        <div class="card mb-2">
            <div class="card-body">
                <h5>Product: {{item.product.title}}</h5>
                <p>Quantity: {{item.quantity}}</p>
                <p>Price: $ {{item.product.discounted_price}}</p>
            </div>
        </div>
        {% endfor %}
        <p class="text-right">Shipping: $ 4</p>
        <p class="text-right">Total: $ {{totalamount}}</p>
        <small>Terms and conditions: Lorem ipsum dolor sit amet... </small>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <h4>Select shipping address</h4>
            <hr>
            <form method="post" id="myform">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <h5>{{ad.name}}</h5>
                        <p>Mobile: {{ad.mobile}}</p>
                        <p>{{ad.locality}} {{ad.city}} {{ad.state}} {{ad.zipcode}}</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                    <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                       Address:{{forloop.counter}}</label>
                </div>
                {% endfor %}
                <div class="form-check mb-3">
                    <label for="totamount" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" id="totamount" name="totamount" value="{{totalamount}}" readonly>
                </div>
                <form method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    
                    <!-- Display order information fields -->
                    {{ order_form.as_p }}
                    
                    <div class="text-end">
                      <button type="submit" class="btn btn-primary">Payment</button>      
                    </div>
                  </form>
            </form>
        </div>
</div>
</div>
{% endblock main-content %}

